<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex,follow">

  <title>Rotational Go Packages</title>

  <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <header>
    <div class="text-white text-center bg-lapis">
      <img src="/static/img/logo.png" class="logo" />
    </div>
    <div class="bg-slate text-center page-title">
      <h1 class="text-white">Rotational Go Packages</h1>
    </div>
  </header>

  <div class="packages">
    <table>
      <thead>
        <tr>
          <th>Module</th>
          <th>Import</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody>
        {{ range . }}
        <tr>
          <td>{{ .Module }}</td>
          <td><a href="{{ .GoDoc }}">{{ .Import }}</a></td>
          <td><a href="{{ .Source }}">{{ .Source }}</a></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

</body>
</html>