.text-white {
    color: #FFF;
}

.text-center {
    text-align: center;
}

.bg-lapis {
    background-color: #1D65A6;
}

.bg-slate {
    background-color: #2F4858;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header div {
    margin: 0;
}

.logo {
    padding: 32px 0;
}

.page-title h1 {
    padding: 24px;
    margin: 0;
    font-size: 24px;
}

.redirect {
    padding: 32px 0;
}

.packages {
    width: 100%;
}

.packages table {
    margin: 20px auto;
}

table {
  text-align: left;
  vertical-align: middle;
  border-collapse: collapse;
}

th, td {
  border: 0px solid black;
  padding: 2px 10px;
}