.text-white {
    color: #FFF;
}

.text-center {
    text-align: center;
}

.bg-lapis {
    background-color: #1D65A6;
}

.bg-slate {
    background-color: #2F4858;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header div {
    margin: 0;
}

.logo {
    padding: 32px 0;
}

.page-title h1 {
    padding: 24px;
    margin: 0;
    font-size: 24px;
}